body{
  margin : 0;
  background-color: hsl(218, 28%, 13%);
}
a{
  color: white;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
}
a:hover{
  color: red;
}
h1{
  margin : 0;
  color: white;
}
h4{
  color: white;
}
p{
  color: white;
}
.footer-other-anc{
  margin-top: 50px;
  position: absolute;
  right: 20px;
  width: 30%;
  line-height: 2;
  display: inline-block;
}
.fa1{
  margin: 0;
}
.footer-loc-anc{
  display: inline-block;
  margin-left: 50px;
  margin-top: 50px;
  width: 250px
}
.image-footer-logo{
  width: 10%;
  padding-top: 150px;
  padding-left: 50px;
}
.footer{
  background-color: hsl(216, 53%, 9%);
  padding-bottom: 20px;
}
.see-how{
  color: blue;
  text-decoration: underline;
}
.stay-pro-space{
  padding-top: 80px;
}
.image-stay-pro{
  width: 500px;

  float: left;
  margin-right: 40px;

}
.fourth-container{
  padding:  100px 70px 100px 100px;
  margin-bottom: 40px;
}

.first-para{
  width : 30%;
  text-align: center;
  display: inline-block;
  margin-right: 100px;
  margin-bottom: 30px;
}
.second-para{
  width : 30%;
  text-align: center;
  display: inline-block;
  margin-left: 100px;
  margin-bottom: 30px;
}
.third-para{
  width : 30%;
  text-align: center;
  display: inline-block;
  margin-right: 100px;
  margin-top: 30px;
}
.fourth-para{
  width : 30%;
  text-align: center;
  display: inline-block;
  margin-left: 100px;
  margin-top: 30px;
}
.third-container{
  width: 70%;
  text-align: center;
  margin: 10px auto 20px auto;
}
.getstarted-button{
  position: absolute;
  bottom: 80px;
  left: 43%;
}

.gsbutton {
	background-color:#33bdef;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	padding:10px 40px;
	text-decoration:none;
}
.myButton:active {
	position:relative;
	top:1px;
}

.curvy-text-p{
  width: 60%;
  text-align: center;
  position: absolute;
  top: 60px;
  right: 20%;
  margin-top: 50px;
}
.curvy-text-h1{
  width: 50%;
  text-align: center;
  position: absolute;
  top: 10px;
  right: 25%;
}
.image-curvy{
  width: 100%;
}
.second-container{

  background-color: hsl(217, 28%, 15%);
  position: relative;
  padding-top: 50px;
  text-align: center;
}
.first-container{
  background-color: hsl(217, 28%, 15%);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.image-illustration-intro{
  width: 50%;
  height: 50%;
}
.intro-anchors{
  display: inline;
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  padding-top: 30px;
}
.header{
  position: relative;
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: hsl(217, 28%, 15%);
}
.image-fylo{
  padding-left: 50px;
}
.header-link-1{
  position: absolute;
  top: 60px;
  right: 300px;
}
